
 
<div id="userDiv" data-userid=userid >
<nav class="purple darken-4" style="border-radius: 10px;max-width: 95%;margin-top:20px;margin-left: 2.5%">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="margin-left: 30px">Stocker</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="#"> Live Stock Market</a></li>
      </ul>
    </div>
</nav>
<div class="container">
  <div class="card hoverable deep-purple lighten-5" style="padding-top:40px;margin-top:20px">
    <div class="row">
      <div class="input-field col s8" style="width:50%;margin-left:15%" >
            <input id="location" type="text" class="validate">
            <label for="location">Name of company</label>
      </div>
      <div class="col s4" style="margin-top: 20px">
        <a  id="submitLocation" class="waves-effect waves-light btn purple darken-4" style="margin: auto,width:50%" href="#modal1" >SUBMIT</a>
      </div>
    </div>
  </div>
</div>
<div class="container ">
  <div class="card-panel deep-purple lighten-5" style="padding-top:40px;margin-top:20px">
    <div class="row white z-depth-3" style="border-radius: 10px;max-width: 95%;margin-top:20px;margin-left: 2.5%">
      <div class="col s12 m6 l3 "  style="padding-top:5px;margin-top:20px;text-align: center">
             <div class="col s12" id="symbol">GO</div>
             <div class="col s12" id="name">Google Inc.</div>
      </div>
       <div class="col s12 m6 l3 "  style="padding-top:5px;margin-top:20px">
             <div class="col s6"  style="text-align: center;color:white">
             <div class="col s12  red accent-4" id="change">-8.68</div>
             <div class="col s12  red accent-4" id="percentage">1.2%</div>
             </div>
             <div class="col s6" style="text-align: center">
             <div class="col s12">PRICE</div>
             <div class="col s12" id="price">14234.56</div>
             </div>
      </div>
      <div class="col s12 m6 l3">
            <div class="input-field col s6">
            <input id="min" type="number" step="0.01" class="validate">
            <label for="min">Min</label>
            </div>
            <div class="input-field col s6">
            <input id="max" type="number" step="0.01" class="validate">
            <label for="max">Max</label>
            </div>
      </div>
      <div class="col s12 m6 l3 ">
        <a class="btn-floating btn-large waves-effect purple darken-4" id="done" style="margin-top:15px">
          <i class="material-icons">done</i>
        </a>
        <a class="btn-floating btn-large waves-effect purple darken-4" id="clear" style="margin-top:15px">
          <i class="material-icons">clear</i>
        </a>
      </div>      
    </div> 
   
  
  <a class="waves-effect waves-light btn" ">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal"  style="border-radius: 10px;max-width:75%;  width: 50%; padding-left: 40px;padding-right: 40px">
    <div id="modal-content">
       <h6 style="text-align: center;color:blue">Please Click on name for more details</h6>   
     
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  </div>
</div>
</body>
</html>

<script type="text/javascript">
// Attach a submit handler to the form
$(document).ready(function(){

    $('.modal').modal();
    $("#submitLocation").click(function(){
      
        $.post("/configuration/searchStocks",
        {
          searchString:$("#location").val()
        },
        function(data,status){
            //$('.modal').modal('open');
            var obj = jQuery.parseJSON(data);
            $.each(obj, function(key,value) {
             $("#modal-content").append('<div class="row white z-depth-3 " data-symbol='+value.Symbol+' style="border-radius: 10px;max-width:100%;margin-top:20px;margin-left: 0%;text-align:center;"><div class="input-field col s12 m4 l4 " style="text-align:center"><p>'+value.Symbol+'</p></div><div class="input-field col s12 m6 l3" style="text-align:center"><p >'+value.Name+'</p> </div> <div class="input-field col s12 m4 l4" style="text-align:center"> <p >'+value.Exchange+'</p> </div> <div class="input-field col s12 m4 l4" style="text-align:center"> <a class="waves-effect waves-light btn selectSymbol" "> Select </a> </div> ');
            }); 
        });
    });

    $(".selectSymbol").on('click',function(e){
      e.preventDefault();
     // $('.modal').modal('close');
      console.log("Sup");
      console.log(this.attr("data-symbol"));


    });

   
});
</script>