<% include header %>
<script src="/js/script.js"></script>
<div id="userDiv" data-userid= <%=userId%> >
<nav class="purple darken-4" style="border-radius: 10px;max-width: 95%;margin-top:20px;margin-left: 2.5%">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="margin-left: 30px">Stocker</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="#"> Live Stock Market</a></li>
      </ul>
    </div>
</nav>
<div class="container">
  <div class="card hoverable deep-purple lighten-5" style="padding-top:40px;margin-top:20px">
    <div class="row">
      <div class="input-field col s8" style="width:50%;margin-left:15%" >
            <input id="location" type="text" class="validate">
            <label for="location">Name of company</label>
      </div>
      <div class="col s4" style="margin-top: 20px">
        <a  id="submitLocation" class="waves-effect waves-light btn purple darken-4" style="margin: auto,width:50%" href="#modal1" >SUBMIT</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-panel deep-purple lighten-5" id = "stockDisplay" style="padding-top:40px;margin-top:20px">
     
     

  </div>
</div>


<div id="modal1" class="modal" style="border-radius: 10px;max-width:75%;  width: 50%; padding-left: 40px;padding-right: 40px">

<div class="preloader-wrapper big active" style="margin:45%" id="symbolLoader">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>


    <div class="modal-content">
      
      
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>




</body>
</html>
