<% include header %>

<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
<script type="text/javascript">
new TradingView.widget({
  "width": 1200,
  "height": 700,
  "symbol": "<%=symbol%>",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "White",
  "style": "2",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": false,
  "hideideas": true
});
</script>
</body>
</html>

